.row p{
	font-size: 20pt;
	padding: 10px;
	background-color: white;
	text-align: center;
	font-family: Lucida;
}
.search{
	font-family: Arial;
	font-size: 14pt;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}